body {
background-color: #725383;
color: #380748;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #bf00ff;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
